@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
.post-content {
    background: #f8fafa;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.8;
}

.card {
    border-radius: 15px;
    overflow: hidden;
}

.card-header {
    padding: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d6efd;
    padding: 15px 50px;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

body{
    background-color: #f8f9fa;
}

.navbar-brand{
    font-size: 1.5rem;
}

.nav-link{
    font-weight: 500;
}

.nav-link:hover{
    color: #ffd700 !important;
}

/* Post Content */

body{
    background:red !important;
}

.post-glow{
    border-radius: 15px;
    animation: floatGlow 3s ease-in-out infinite;
}

@keyframes floatGlow{
    0%{
        transform: translateY(0);
        box-shadow: 0 0 15px rgba(13,110,253,0.4);
    }

    50%{
        transform: translateY(-10px);
        box-shadow: 0 0 35px rgba(13,110,253,0.9);
    }

    100%{
        transform: translateY(0);
        box-shadow: 0 0 15px rgba(13,110,253,0.4);
    }
}